<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="touchstone-core-local" value="C:\code\touchstone\src\Touchstone.Core\bin\Release" />
    <add key="touchstone-cli-local" value="C:\code\touchstone\src\Touchstone.Cli\bin\Release" />
    <add key="touchstone-xunit-local" value="C:\code\touchstone\src\Touchstone.XunitAdapter\bin\Release" />
    <add key="touchstone-nunit-local" value="C:\code\touchstone\src\Touchstone.NunitAdapter\bin\Release" />
  </packageSources>
</configuration>
